html, body{
  font-family: var(--ff-primary);
  font-size: var(--m);
  line-height: var(--lh-normal);
  hyphens: auto;
}

main{
  background-color: var(--color-grey);
}

main > * {
  padding: var(--m);
}

h1, h2, h3, h4{
  padding-top: var(--m);
  font-weight: var(--fw-bold);
  margin-bottom: var(--m);
  hyphens: none;
}

h2{
  font-size: var(--l);
}

p{
  margin-bottom: var(--s);
}

