/* Grid List
############################################################################ */

.grid-list, .grid-list-inline {
  display: grid;
  gap: var(--s);
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  
  li {
    position: relative;
    overflow: hidden;
    align-content: center;
    padding: var(--s) var(--m) var(--s) var(--s);
    background-color: var(--color-white);
    line-height: var(--lh-tight);

    address {
      font-size: var(--s);
    }

    &.has-icon {
      padding-left: calc(var(--xl) + var(--m));
    }

    p {
      overflow: hidden;
      margin-bottom: 0;
      text-overflow: ellipsis " …";
      white-space: nowrap;
    }
  }

  &.grid-list-inline {
    display: flex;
    flex-wrap: wrap;

    li{
      display: flex;
      align-items: center;
    }
  }
}

/* Main Header
############################################################################ */
.main-header {
  padding: var(--m);
  background-color: var(--color-white);
}

/* Hero
############################################################################ */
.hero {
  padding: var(--m) var(--m) var(--xl) var(--m);
  background-color: var(--color-th-orange);
  color: var(--color-white);

  *{
    max-width: var(--max-text-width);
  }
  
  h2,
  h3 {
    font-size: var(--xl);
  }

  a {
    color: var(--color-white);
  }
}

/* Card Grid
############################################################################ */


.card-grid {
  display: grid;
  gap: var(--s);
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));

  li {
    overflow: hidden;
    padding-bottom: var(--quarter);
    background-color: var(--color-white);

    img {
      display: block;
      width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
    }

    figcaption {
      padding: var(--s) var(--s) var(--eighth) var(--s);
    }

    h3 {
      padding: 0;
      margin: 0;
      font-weight: var(--fw-bold);
    }

    address {
      margin-bottom: var(--s);
    }

    .tag-list-wrapper{
      position: relative;
      overflow-x: auto;

      &::after{
        position: sticky;
        top: 0;
        right: 20px;
        bottom: 0;
        width: 20px;
        background: linear-gradient(90deg, rgb(255 255 255 / 0%) 55%, rgb(255 255 255 / 100%) 100%);
        content: "";
      }
    }

    .tag-list{
      width: max-content;
    }
  }

}


/* Tag List
############################################################################ */

.tag-list {
  li {
    display: inline-block;
    padding: var(--eighth) var(--half);
    margin-bottom: 0;
    margin-bottom: var(--eighth);
    background-color: var(--color-grey);
    font-size: var(--s);
    transition: all var(--tr-fast);

    &:hover {
      background-color: var(--color-grey-dark);
      color: var(--color-white);
      cursor: pointer;
    }
  }
}


/* Main Footer
############################################################################ */

.main-footer {
  max-width: var(--max-content-width);
  background-color: var(--color-grey-dark);
  color: var(--color-white);

  h2 {
    margin-bottom: var(--quarter);
    font-size: var(--m);
  }

  ul {
    margin-bottom: var(--m);

    li {
      font-weight: var(--fw-light);

      &::before {
        margin-right: var(--half);
        content: "»";
        font-size: var(--xl);
        font-weight: var(--fw-regular);
        line-height: 90%;
        vertical-align: bottom;
      }
    }
  }

}


/* Dropdown
############################################################################ */

.dropdown {
  position: relative;
  margin-right: var(--m);

  &:hover{
    cursor: pointer;
  }

  &:focus-within, &:focus-visible, &:focus{
    * {
      display: block !important;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--m);
    display: flex;
    width: auto;
    height: auto;
    align-items: top;
    direction: ltr;
    font-family: var(--ff-icons);
    font-feature-settings: "liga";
    font-size: var(--l);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: normal;
    justify-self: center;
    letter-spacing: normal;
    line-height: inherit;
    text-rendering: optimizelegibility;
    text-transform: none;
    vertical-align: bottom;
    white-space: nowrap;
    word-wrap: normal;
  }
}