/* Main Navigation
############################################################################ */

.main-navigation{
  display: flex;
  gap: var(--m);
  align-items: center;

  .logo{

    display: block;
    flex-grow: 2;

    img{
      height: 50px;
    }
    
  }

  @media only screen and (min-width: 50rem) {

    & > * {
      flex-grow: 1;
    
    }
  }
}

.main-menu-trigger{
  background-color: var(--color-white);
  color: var(--color-white);
  border: none;
  cursor: pointer;
  margin-right: var(--xs);

  span{
    display: block;
    background-color: var(--color-darkest);
    width: var(--xl);
    height: var(--eighth);
    margin-bottom: var(--quarter);
  }

  @media only screen and (min-width: 600px) {
    display: none;
  }
}

/* Main Menü
############################################################################ */

.main-menu{
  display: none;
  gap: var(--l);

  @media only screen and (min-width: 600px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}


/* Lang Selector
############################################################################ */

.lang-selector{

  li{

    &[data-selected="true"]{
      display: block;
    }

    &:not([data-selected="true"]){
      display: none;
    }
  }

  &::after{
    content: "expand_more"
  }

}