.keyword-search {

  display: flex;

  &:has(input:focus, input:focus-visible, input:focus-within){
    outline: solid 1px var(--color-th-orange);
  }

  input{
    border: none;
    padding: var(--half) var(--xs);
    flex-grow: 2;
    
    &:focus, &:focus-visible, &:focus-within{
      border: none;
      outline: none;
    }
  }

  button{
    background-color: var(--color-white);
    color: var(--color-white);
    border: none;
    padding: var(--s);
    cursor: pointer;

    .icon{
      margin-right: 0;
      color: var(--color-darkest);
    }
  }


}